<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
   <vue-bootstrap-typeahead
      :data="users"
      v-model="userSearch"
      :serializer="s => s.name"
      placeholder="Search Infos"
      @hit="selectedUser = $event"
    >
      <!-- htmlText is bound to the matched text derived from the serializer function -->
      <!-- data is bound to the matching array element in the data prop -->
      <template slot="suggestion" slot-scope="{ data, htmlText }">
        <span v-html="htmlText"></span><small>{{ data.organization ? data.organization.name : '' }}</small>, <small>{{ data.organization.ticket ? data.organization.ticket.subject : '' }}</small>
      </template>
    </vue-bootstrap-typeahead>

    <!--    show selected users list-->
    <div v-if="lists.length" class="show-list">
      <div class="accordion" role="tablist">
        <b-card no-body class="mb-1" v-for="(list, index) in lists" :key="index">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block v-b-toggle="'accordion-' + index" variant="info">{{ list.name }}</b-button>
            <b-button pill variant="outline-danger" @click="deleteUser(index)"><b-icon icon="trash-fill" aria-hidden="true"></b-icon></b-button>
          </b-card-header>
          <b-collapse v-bind:id="'accordion-'+index" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>User Info:  <code>{{list}}</code></b-card-text>
              <b-card-text v-if="list.organization">User's Organization Info:  <code>{{list.organization}}</code></b-card-text>
              <b-card-text v-if="list.organization.ticket">Organization's Ticket Info: <code>{{list.organization.ticket}}</code></b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';
import usersData from "../../public/JsonStore/users.json";
import _ from 'underscore'
import axios from "axios"
export default {
  name: 'HelloWorld',
   components: {
        VueBootstrapTypeahead
    },
  props: {
    msg: String
  },
  data(){
    return {
      users: [],
      userSearch: "",
      selectedUser: null,
      lists: [],
      organizations: [],
      tickets: []
    }
  },
  created() {
    this.getOrganizations();
    this.getTickets();
  },
  methods:{
    getOrganizations() {
      let self = this
      axios.get('JsonStore/organizations.json')
          .then(function (response) {
            // handle success
            self.organizations = response.data
          })
          .catch(function (error) {
            // handle error
            console.log("org" + error);
          });
    },
    getTickets() {
      let self = this
      axios.get('JsonStore/tickets.json')
          .then(function (response) {
            // handle success
            self.tickets = response.data
          })
          .catch(function (error) {
            // handle error
            console.log("tickets" + error);
          });
    },
    async getUsers(query) {
      console.log(query)
      usersData.map((detum) => {
        detum.organization = this.getUserOrganization(detum.organization_id)
      })
      this.users = usersData
    },
    getUserOrganization(organization_id) {
      try {
        var data = this.organizations.find(organization => organization._id == organization_id)
        if (data) {
          data.ticket = this.getUserTicket(organization_id)
          return data
        }
        return {}
      } catch (error) {
        console.error(error);
      }
    },
    getUserTicket(organization_id) {
      try {
        return this.tickets.find(ticket => ticket.organization_id == organization_id)
      } catch (error) {
        console.error(error);
      }
    },
    deleteUser(index) {
      if (index > -1){
        this.lists.splice(index, 1)
      }
    }
  },
  watch: {
    userSearch: _.debounce(function(term) { this.getUsers(term) }, 500),
    selectedUser: function (val) {
      // `this` points to the vm instance
      this.lists.push(val)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.show-list {
  margin-top: 10px;
}
</style>
